:root {
  color: black;
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

body {
  width: 100vw;
  height: 100dvh;
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
  align-items: center;
}

#map {
  z-index: 1;
  position: fixed;
  top: 0;
  bottom: 0;
  width: 100%;
}
